<div class="maristtela-context">
  <div class="context-grid">
    <div class="context-box" data-box="grades">
      <div class="box-head">Notas</div>
      <div class="box-body">
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
      </div>
    </div>

    <div class="context-box" data-box="upcoming">
      <div class="box-head">Próximos prazos</div>
      <div class="box-body">
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
      </div>
    </div>

    <div class="context-box" data-box="forums">
      <div class="box-head">Fóruns recentes</div>
      <div class="box-body">
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
      </div>
    </div>
  </div>
</div>
